:root.bx-light {
    --radius: 0.7rem;

    --background: oklch(96.7% 0.003 236.62);
    --foreground: oklch(42.2% 0.031 275.06);

    --card: oklch(100% 0 0);
    --card-foreground: oklch(42.2% 0.031 275.06);

    --popover: oklch(100% 0 0);
    --popover-foreground: oklch(42.2% 0.031 275.06);

    --primary: oklch(78.4% 0.144 236.42);
    --primary-foreground: oklch(100% 0 0);

    --secondary: oklch(78.4% 0.014 237.71);
    --secondary-foreground: oklch(42.2% 0.031 275.06);

    --muted: oklch(90% 0.005 240);
    --muted-foreground: oklch(55% 0.02 275);

    --accent: oklch(96% 0.01 236);
    --accent-foreground: oklch(78.4% 0.144 236.42);

    --destructive: oklch(62.7% 0.257 29.23);
    --destructive-foreground: oklch(100% 0 0);

    --border: oklch(90% 0.005 240);
    --input: oklch(90% 0.005 240);
    --ring: oklch(78.4% 0.144 236.42);

    /* charts */
    --chart-1: oklch(78.4% 0.144 236.42);
    --chart-2: oklch(78.4% 0.014 237.71);
    --chart-3: oklch(42.2% 0.031 275.06);
    --chart-4: oklch(55% 0.02 275);
    --chart-5: oklch(96% 0.01 236);

    /* sidebar */
    --sidebar: oklch(100% 0 0);
    --sidebar-foreground: oklch(42.2% 0.031 275.06);
    --sidebar-primary: oklch(78.4% 0.144 236.42);
    --sidebar-primary-foreground: oklch(100% 0 0);
    --sidebar-accent: oklch(96.7% 0.003 236.62);
    --sidebar-accent-foreground: oklch(42.2% 0.031 275.06);
    --sidebar-border: oklch(90% 0.005 240);
    --sidebar-ring: oklch(78.4% 0.144 236.42);
}
