:root.red-dark {
    --background: oklch(24% 0.01 0);
    --foreground: oklch(98% 0 0);

    --card: oklch(24% 0.01 0);
    --card-foreground: oklch(98% 0 0);

    --popover: oklch(24% 0.01 0);
    --popover-foreground: oklch(98% 0 0);

    --primary: oklch(63% 0.25 27);
    --primary-foreground: oklch(98% 0.015 0);

    --secondary: oklch(28% 0.01 0);
    --secondary-foreground: oklch(98% 0 0);

    --muted: oklch(28% 0.01 0);
    --muted-foreground: oklch(65% 0.01 0);

    --accent: oklch(28% 0.01 0);
    --accent-foreground: oklch(98% 0 0);

    --destructive: oklch(50% 0.22 27);
    --destructive-foreground: oklch(98% 0 0);

    --border: oklch(28% 0.01 0);
    --input: oklch(28% 0.01 0);
    --ring: oklch(63% 0.25 27);

    --chart-1: oklch(48% 0.24 264);
    --chart-2: oklch(70% 0.17 160);
    --chart-3: oklch(76% 0.19 70);
    --chart-4: oklch(62% 0.26 300);
    --chart-5: oklch(65% 0.25 15);

    --sidebar: oklch(28% 0.01 0);
    --sidebar-foreground: oklch(98% 0 0);
    --sidebar-primary: oklch(48.8% 0.243 264.376);
    --sidebar-primary-foreground: oklch(98% 0 0);
    --sidebar-accent: oklch(26.9% 0 0);
}
