.description {
    width: 100%;
    border: none; /* Убирает границу в обычном состоянии */
    outline: none;
}

.description:focus {
    border: none; /* Убирает границу в обычном состоянии */
    outline: none;
}
