@import '../styles/variables';
@import '../styles//typography';
// .but{
//     background-color: rgb(238, 188, 188);
// }

// .but:hover{
//     background-color: rgb(201, 58, 58);
// }



.app {
  max-width: 100vw;
  height: 100vh;
  position: relative;

}

p,
tfoot,
th,
thead,
tr,
span,
label,
input,
button,
textarea,
h1,
h2,
h3,
h4 {
  font-family: $font-family-base !important;
}

p,
tfoot,
th,
thead,
tr,
span,
label,
input,
textarea {
  @extend .text;
}

button {
  @extend .text--button;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;

}

*::-webkit-scrollbar {

  display: none;

}