:root.violet-dark {
    --background: oklch(14.1% 0.005 285.823);
    --foreground: oklch(98.5% 0 0);
    --card: oklch(21% 0.006 285.885);
    --card-foreground: oklch(98.5% 0 0);
    --popover: oklch(21% 0.006 285.885);
    --popover-foreground: oklch(98.5% 0 0);
    --primary: oklch(54.1% 0.281 293.009);
    --primary-foreground: oklch(96.9% 0.016 293.756);
    --secondary: oklch(27.4% 0.006 286.033);
    --secondary-foreground: oklch(98.5% 0 0);
    --muted: oklch(27.4% 0.006 286.033);
    --muted-foreground: oklch(70.5% 0.015 286.067);
    --accent: oklch(27.4% 0.006 286.033);
    --accent-foreground: oklch(98.5% 0 0);
    --destructive: oklch(70.4% 0.191 22.216);
    --border: oklch(100% 0 0 / 10%);
    --input: oklch(100% 0 0 / 15%);
    --ring: oklch(54.1% 0.281 293.009);
    --chart-1: oklch(48.8% 0.243 264.376);
    --chart-2: oklch(69.6% 0.17 162.48);
    --chart-3: oklch(76.9% 0.188 70.08);
    --chart-4: oklch(62.7% 0.265 303.9);
    --chart-5: oklch(64.5% 0.246 16.439);
    --sidebar: oklch(21% 0.006 285.885);
    --sidebar-foreground: oklch(98.5% 0 0);
    --sidebar-primary: oklch(54.1% 0.281 293.009);
    --sidebar-primary-foreground: oklch(96.9% 0.016 293.756);
    --sidebar-accent: oklch(27.4% 0.006 286.033);
    --sidebar-accent-foreground: oklch(98.5% 0 0);
    --sidebar-border: oklch(100% 0 0 / 10%);
    --sidebar-ring: oklch(54.1% 0.281 293.009);
}
